<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>

    <div class="container">
        <div class="row">
            <div class="column column-50 column-offset-25">
                <h1>Editing <%= animal.species %></h1>

                <form action="/animals/<%= animal._id %>/?_method=PUT" method="post">
                    <label for="species">Species:</label>
                    <input type="text" name="species" id="species" value="<%= animal.species %>"><br>

                    <label for="location">Location:</label>
                    <input type="text" name="location" id="location" value="<%= animal.location %>"><br>

                    <label for="lifeExpectancy">Life Expectancy:</label>
                    <input type="number" name="lifeExpectancy" id="lifeExpectancy" value="<%= animal.lifeExpectancy %>"><br>

                    <label for="extinct">Extinct:</label>
                    <input type="checkbox" name="extinct" id="extinct" <% if(animal.extinct){ %> checked <% } %>><br>

                    <input type="submit" value="Update Animal" class="button button-outline">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
