<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="container">
        <h1>Animal List Index</h1>
        <p>Click species to see more</p>

        <% for (let i = 0; i < animals.length; ++i) { %>
            <div class="row" style="margin-bottom: 20px;">
                <div class="column column-50">
                    <strong><%= animals[i].species %></strong>
                </div>
                <div class="column column-25">
                    <form action="/animals/<%= animals[i]._id%>/?_method=DELETE" method="post">
                        <button type="submit" class="button button-outline">Remove</button>
                    </form>
                </div>
                <div class="column column-25">
                    <form action="/animals/edit/<%= animals[i]._id %>/" method="get">
                        <button type="submit" class="button button-outline">Edit</button>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>
