<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <% console.log(animal) %>
    <%- include("./partials/nav.ejs") %>
    <h1><%= animal.species %></h1>
    <h3>Location: <%= animal.location %></h3>
    <p>Life Expectancy: <%= animal.lifeExpectancy %> years</p>
    <p><%= animal.extinct ? "Extinct" : "Not Extinct" %></p>
    <a href="/animals/edit/<%= animal._id %>">Edit <%= animal.species %></a>
</body>
</html>
